<!DOCTYPE html>
<html>
    <head>
    <title>微酒店</title>
    <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{$CSS}mwm/hotel/hotels.css" media="all" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
        <script type="text/javascript" src="{$JS}mwm/swipe.js"></script>
        <style>
            img{ width:100%!important;}
        </style>
    </head>
        <body id="hotels" ondragstart="return false;" onselectstart="return false;" >
<section class="body">
	<div class="banner">
	{if trim($r->ptxt1)!=''}
		<div id="imgs_box" class="box_swipe">
			<ul>
			<li><a href="{hrefto($r->phref1)}"><img src="{$r->psrc1}" alt="{$r->ptxt1}" style="width:100%;" /></a></li>
			{if trim($r->ptxt2)!=''}<li><a href="{hrefto($r->phref2)}"><img src="{$r->psrc2}" alt="{$r->ptxt2}" style="width:100%;" /></a></li>{/if}
			{if trim($r->ptxt3)!=''}<li><a href="{hrefto($r->phref3)}"><img src="{$r->psrc3}" alt="{$r->ptxt3}" style="width:100%;" /></a></li>{/if}
			{if trim($r->ptxt4)!=''}<li><a href="{hrefto($r->phref4)}"><img src="{$r->psrc4}" alt="{$r->ptxt4}" style="width:100%;" /></a></li>{/if}
			{if trim($r->ptxt5)!=''}<li><a href="{hrefto($r->phref5)}"><img src="{$r->psrc5}" alt="{$r->ptxt5}" style="width:100%;" /></a></li>{/if}				
			</ul>
			<ol id="">
				<li class="on"></li>
				{if trim($r->ptxt2)!=''}<li></li>{/if}
				{if trim($r->ptxt3)!=''}<li></li>{/if}
				{if trim($r->ptxt4)!=''}<li></li>{/if}
				{if trim($r->ptxt5)!=''}<li></li>{/if}
			</ol>
		</div>
	{/if}
	</div>
	<div class="cardexplain">
			<!--商家房价及类型-->
			<ul class="round">
				<li class="biaotou bradius pad">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody><tr>
							<td>类型</td>
							<td class="yuanjia">原价</td>
							<td class="youhuijia">优惠价</td>
						</tr>
					</tbody></table>
				</li>
				<li>
					<span class="noneorder">
						<table class="jiagebiao" border="0" cellpadding="0" cellspacing="0" width="100%">
							<tbody><tr>
								<td>{$r->typ}</td>
								<td class="yuanjia" id="yj">￥{$r->price1}</td>
								<td class="youhuijia" id="yhj">￥{$r->price1-$r->price2}</td>
							</tr>
						</tbody></table>
					</span>
				</li>
			</ul>

			<!--后台可控制是否显示-->
			<ul class="round">
				<li>
					<h2>相关说明</h2>
					<div class="text">{$r->des}</div>
				</li>
				<li class="tel"><a href="tel:{$h->tel}"><span>{$h->tel} 电话预订</span></a></li>
			</ul>

			<ul class="round roundyellow">
				<li class="userinfo">
					<a href="roomdetail-{$h->id}-{$r->id}.html">
						<span>查看房间详情</span>
					</a>
				</li>
			</ul>

		  

			<ul class="round">
				<form action="javascript:void(0);" method="post" id="theform">
				<li class="title mb"><span class="none">请认真填写在线订单</span></li>
				{loop $ddx as $dd}
				<li class="nob">
					<table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody><tr>
							<th>{$dd->name}</th>
							<td>{$dd->form}</td>
						</tr>
					</tbody></table>
				</li>
				{/loop}
				
				<li class="nob">
					<table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody><tr>
							<th>原价</th>
							<td class="userinfo" id="price1">￥{$r->price1}</td>
						</tr>
					</tbody></table>
				</li>
				<li class="nob">
					<table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody><tr>
							<th>现价</th>
							<td class="userinfo price" id="price2">￥{$r->price2}</td>
						</tr>
					</tbody></table>
				</li>
				<li class="nob">
					<table class="kuang" border="0" cellpadding="0" cellspacing="0" width="100%">
						<tbody><tr>
							<th>为你节省</th>
							<td class="userinfo price2" id="price3">￥{$r->price1-$r->price2}</td>
						</tr>
					</tbody></table>
				</li>
				</form>
			</ul>
			<div class="footReturn">
				<a id="showcard" class="submit" href="javascript:void(0);">提交订单</a>
				<div class="window" id="windowcenter">
					<div id="title" class="wtitle">提示<span class="close" id="alertclose"></span></div>
					<div class="content">
						<div id="txt"></div>
					</div>
				</div>
			</div>
		</div>
	<div class="plugback">
		<a href="javascript:history.back(-1)">
			<div class="plugbg themeStyle">
				<span class="plugback">
				</span>
			</div>
		</a>
	</div>
</section>
	{T /_wf}
     <script>
    	$(document).ready(function(){
    		$(function(){
				new Swipe(document.getElementById('imgs_box'), {
					speed:500,
					//auto:3000,
					callback: function(index, elem){
						var lis = $('#imgs_box').children("ol").children();
						lis.removeClass("on").eq(index).addClass("on");
					}
				}); 
			});
    		
    		$('#showcard').click(function(){
    			var ctj = true;
    			$('#theform').find('select,input[type="text"]').each(function(){
    				if($.trim($(this).val()=='')){
    					ctj = false;
    				}
    			});
    			if(!ctj){
    				tusi('请填写完整预约项');
    				return;
    			}
    			$.ajax({
    			url:'ydok-{$h->id}-{$r->id}.html',
    			data:$('#theform').serialize(),
    			type:'POST',
    			success:function(m){
    				if(m=='ok'){
    					$('#txt').text('提交成功');
    					$('#windowcenter').slideDown();
    				}if(m=='rep'){
    					$('#txt').text('请勿重复提交');
    					$('#windowcenter').slideDown();
    				}
    				setTimeout(function(){
    					$('#windowcenter').slideUp();
    				},1000);
    			}
    			});
    		});
    	});
   	</script>        		
</body>        		
</html>