<!DOCTYPE html>
<html>
    <head>
    <title>微酒店</title>
    <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{$CSS}mwm/hotel/hotels.css" media="all" />
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
        <script type="text/javascript" src="{$JS}mwm/swipe.js"></script>
        <style>
            img{ width:100%!important;}
        </style>
    </head>
        <body id="hotels" ondragstart="return false;" onselectstart="return false;" >
<section class="body">
	<div class="banner">
	{if trim($h->ptxt1)!=''}
		<div id="imgs_box" class="box_swipe">
			<ul>
			<li><a href="{hrefto($h->phref1)}"><img src="{$h->psrc1}" alt="{$h->ptxt1}" style="width:100%;" /></a></li>
			{if trim($h->ptxt2)!=''}<li><a href="{hrefto($h->phref2)}"><img src="{$h->psrc2}" alt="{$h->ptxt2}" style="width:100%;" /></a></li>{/if}
			{if trim($h->ptxt3)!=''}<li><a href="{hrefto($h->phref3)}"><img src="{$h->psrc3}" alt="{$h->ptxt3}" style="width:100%;" /></a></li>{/if}
			{if trim($h->ptxt4)!=''}<li><a href="{hrefto($h->phref4)}"><img src="{$h->psrc4}" alt="{$h->ptxt4}" style="width:100%;" /></a></li>{/if}
			{if trim($h->ptxt5)!=''}<li><a href="{hrefto($h->phref5)}"><img src="{$h->psrc5}" alt="{$h->ptxt5}" style="width:100%;" /></a></li>{/if}				
			</ul>
			<ol id="">
				<li class="on"></li>
				{if trim($h->ptxt2)!=''}<li></li>{/if}
				{if trim($h->ptxt3)!=''}<li></li>{/if}
				{if trim($h->ptxt4)!=''}<li></li>{/if}
				{if trim($h->ptxt5)!=''}<li></li>{/if}
			</ol>
		</div>
	{/if}
	</div>
	<div class="cardexplain">
		<ul class="round">
			<li class="addr">
				<a href="http://api.map.baidu.com/marker?location={$h->wd},{$h->jd}&title={$h->tit}&name={$h->addr}&content={$h->addr}&output=html&src=weiba|weiweb">
					<span>
						{$h->addr}
					</span>
				</a>
			</li>
			<li class="tel">
				<a href="tel:{$h->tel}">
					<span>
						{$h->tel}  电话预订
					</span>
				</a>
			</li>
		</ul>
		<div class="detailcontent">
			<h2>
				详情介绍
			</h2>
			{$h->des}
		</div>
	</div>
	<div class="plugback">
		<a href="javascript:history.back(-1)">
			<div class="plugbg themeStyle">
				<span class="plugback">
				</span>
			</div>
		</a>
	</div>
</section>
	{T /_wf}
     <script>
    	$(document).ready(function(){
    		$(function(){
				new Swipe(document.getElementById('imgs_box'), {
					speed:500,
					//auto:3000,
					callback: function(index, elem){
						var lis = $('#imgs_box').children("ol").children();
						lis.removeClass("on").eq(index).addClass("on");
					}
				}); 
			});
    	});
   	</script>        		
</body>        		
</html>