/**
*  弹出窗口的样式

*/
.p_main {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9999;
    color: #222222;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    display: -webkit-box;display: -moz-box;display: -o-box;display: -ms-box;display: box;
  	-webkit-box-pack: center;-moz-box-pack: center;-o-box-pack: center;-ms-box-pack: center;box-pack: center;
  	-webkit-box-align: center;-moz-box-align: center;-o-box-align: center;-ms-box-align: center;box-align: center;
}
.p_cont {
    background: none repeat scroll 0 0 #fff;
    border-radius: 10px 10px 10px 10px;
    display: block;
    overflow: hidden;
    padding: 3px;
    position: static;
    text-shadow: 0 1px 0 white;
    z-index: 100;
    width: 593px;
}
.p_title {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.25) inset;
    color: #444444;
    font-size: 24px;
    height: 40px;
	font-weight:bold;
    line-height: 40px;
    position: relative;
    text-align: center;
    text-shadow: none;
}
.clo {
    color: #444444;
    display: inline-block;
    font-size: 25px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: -2px;
    width: 30px;
    text-decoration: none;
}
.p_text {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: white;
    border-radius: 0 0 10px 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 24px;	
    overflow: hidden;
    padding: 4px 0;
}
.p_main .btns {
    padding: 10px;
}
p {
    margin: 0 0 1em;
}
.p_main .btns a:last-of-type {
    margin-right: 0;
}
.p_main .btns a {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    color: #E95679;
    display: inline-block;
    margin-right: 27px;
    padding: 5px 10px;
    width: 90px;
    background: white;
    text-decoration: none;
}
.share_btn{
	text-decoration: none;
	background: url('../xheka/share_icons.png') no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 130px;
    margin-right: 13px;
    text-indent: -100em;
    width: 130px;
}
.shares{width:570px;overflow-x:scroll;}
#share_btn{text-align:center;margin:6px auto;width:980px;}
#share_weixin{background-position:0 4px!important;}
#share_qzone{background-position:-150px 0!important;}
#share_tsina{background-position:0 0!important;}
#share_renren{background-position:-750px 0!important;}
#share_tqq{background-position:-300px 0!important;}
#share_kaixin001{background-position:0 -250px!important;}
#share_txpengyou{background-position:-450px 0!important;}
#share_douban{background-position:-600px 0!important;}
#share_tsohu{background-position:0 -400px!important;}
#share_t163{background-position:0 -450px!important;}
.share_body {
    position: relative;
}
.share_box {
    height: 220px;
    text-align: center;overflow: hidden;
}
.share_span {
    display: table-cell;
    font-size: 0;
    height: 12px;
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    width: 180px;
}
.share_img{
	float:left;
	padding-left: 3px;
	height:220px;overflow:hidden;
}
.share_img img {
    border: 0 none;
    max-height: 270px;
    max-width: 180px;
}
.share_textarea {
    border: 1px solid #BEBEBE;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 0 #F0F0F0;
    font-size: 24px;
    height: 200px;
    line-height: 28px;
    outline-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 8px;
    resize: none;
    width: 356px;
    float:left;
	margin-left:10px;
    display:block;
}