<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>一战到底</title>
<link type="text/css" rel="stylesheet" href="style/war.css" />
</head>
<body style="background: #ffaf00;">
<div class="wrapper">
	<img class="bg" src="images/bg_userinfo.jpg">
	<div class="top1">
		您当前的积分是：<span class="score1">10</span>分，
		排名第45，击败了5%的对手。明天再战！
	</div>
		<div class="title-cont-J">
		<img class="limg" src="images/top_brand.png">
		<div class="toptitle">积分排名</div>
		<div class="topnum">TOP<span class="num">10</span></div>
		<div class="title">一战到底</div>
		<div class="time1">
			(09-19~09-26)
		</div>
	</div>
		<div class="record">
		<img class="record_bg" src="images/record.png">
		<strong class="i">1</strong>
		<div class="uname">***音</div>
		<div class="score">170分</div>
	</div>
		<div class="record">
		<img class="record_bg" src="images/record.png">
		<strong class="i">2</strong>
		<div class="uname">***张</div>
		<div class="score">110分</div>
	</div>
		<div class="record">
		<img class="record_bg" src="images/record.png">
		<strong class="i">3</strong>
		<div class="uname">***帅</div>
		<div class="score">80分</div>
	</div>
		<div class="record">
		<img class="record_bg" src="images/record.png">
		<strong class="i">4</strong>
		<div class="uname">***一</div>
		<div class="score">70分</div>
	</div>
		<div class="record">
		<img class="record_bg" src="images/record.png">
		<strong class="i">5</strong>
		<div class="uname">***毅</div>
		<div class="score">70分</div>
	</div>
		<div class="record">
		<img class="record_bg" src="images/record.png">
		<strong class="i">6</strong>
		<div class="uname">***生</div>
		<div class="score">60分</div>
	</div>
		<div class="record">
		<img class="record_bg" src="images/record.png">
		<strong class="i">7</strong>
		<div class="uname">***川</div>
		<div class="score">60分</div>
	</div>
		<div class="record">
		<img class="record_bg" src="images/record.png">
		<strong class="i">8</strong>
		<div class="uname">***了</div>
		<div class="score">60分</div>
	</div>
		<div class="record">
		<img class="record_bg" src="images/record.png">
		<strong class="i">9</strong>
		<div class="uname">***旭</div>
		<div class="score">50分</div>
	</div>
		<div class="record">
		<img class="record_bg" src="images/record.png">
		<strong class="i">10</strong>
		<div class="uname">***坊</div>
		<div class="score">50分</div>
	</div>
		
		<div class="desc-cont3">
			<h2>一战到底</h2>
			
			<h3>活动奖品：</h3>
			
			<p>一等奖：黄金版试用。奖品数量：10</p>			
			<p>二等奖：增强版试用。奖品数量：10</p>			
			<p>三等奖：标准版试用。奖品数量：10</p>			
			<br>
			
			<h3>活动说明：</h3>
			<p>尊敬的"盟粉"们：
聚微客《一战到底》答题比赛第一季开赛了！
第一季共计5天，每天10道题，题目包括历史、地理、文学、科技等等众多领域，当然，还有几道关于聚微客的自设题！
如果这一季您连续参加了答题，系统会根据答题正确率和答题速度自动计算您的积分，赛季结束以后，将有可能成为本季比赛的第一位战神哦！小编会根据最终的比赛结果，评选出一二三等奖各5名，精美礼品等着您！
如果您自认为学富五车，才高八斗，那就快来战斗吧！
</p>
			<br>
			<h3>活动规则：</h3>
			<p>1. 每天每个用户只能参加一次答题，每次10道。
2. 每题积分为10分，答对加10分。答错不扣分。
3. 同样积分者，按答题速度优先的用户排名为先。
4. 积分累计到活动结束后根据排名顺序派发相应奖项。</p>
		</div>
	</div>
</body>
</html>
