
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{$CSS}mwm/reset.css?2013-12-18-1" media="all" />
<link rel="stylesheet" type="text/css" href="{$CSS}mwm/common2.css?2013-12-18-1" media="all" />
<title>车主关怀</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta name="Keywords" content="" />
        <meta name="Description" content="" />
        <!-- Mobile Devices Support @begin -->
            <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
            <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
            <meta content="no-cache" http-equiv="pragma">
            <meta content="0" http-equiv="expires">
            <meta content="telephone=no, address=no" name="format-detection">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- apple devices fullscreen -->
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <!-- Mobile Devices Support @end -->
        <style>
            img{ width:100%!important;}
        </style>
    </head>
    <body class="portrait">
	<div class="top">
		<div class="stage_container relative">
			<div class="ofh relative">
					
					<ul class="">
                                        <!--
						<li>
							<img alt="" src="http://stc.weimob.com/img/default/car_series.jpg" style="width:100%;max-height:480px;"/>
						</li>
                                        -->
					</ul>
										<ol style="position:absolute;line-height:25px;bottom:0;z-index:10;width:100%;background:rgba(0,0,0,0.2);padding:5px 10px;color:#fff;">
						<p>车牌号：{$m->cpai}</p>
						<p>车系车型：{$pp->name}{$cx->name} {$c->name}</p>
					</ol>
									</div>
			</div>
		</div>
	</div>
		<div class="main" style="padding-top: 10px;">
			<ul class="car_detail">

								<div style="margin:5px;border: 1px solid #ccc;line-height:35px;text-indent:10px;border-radius:5px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eee));-webkit-box-shadow: 0 1px 1px #fff;">
					<a href="mycheliang.html" style="color:#666;display:block;text-align:center;">修改您的爱车信息</a>
				</div>
				<div>
					<ul class="list3">
						<li>
							<div>
								<p>下次保养</p>
								<p><img src="/res/carrepare.png" /></p>
								<p>87天</p>
							</div>
						</li>
						<li>
							<div>
								<p>下次保险</p>
								<p><img src="/res/carcare.png" /></p>
								<p>362天</p>
							</div>
						</li>
						<li>
							<div>
								<p>下次年检</p>
								<p><img src="/res/carcheck.png" /></p>
								<p>338天</p>
							</div>
						</li>
					</ul>
				</div>
								<li class="box group_btn">
					<div><a href="yyby.html#mp.weixin.qq.com" class="gray">预约保养</a></div>
					<div><a href="xiaoshou.html#mp.weixin.qq.com" class="gray">联系销售</a></div>
				</li>
			</ul>
		</div>
{T /_wf}
		<footer class="nav_footer">
				<ul class="box">
					<li><a href="javascript:history.go(-1);" >返回</a></li>
					<li><a href="javascript:history.go(1);" >前进</a></li>
                                <!--	<li><a href="http://www.weimob.com/weisite/home?pid=3453&bid=7443&wechatid=oVK73jvpIWqFMOO0f1fHalK6nZts" >首页</a></li>
                                -->
                                <li><a href="http://wx.zongyangtech.cn" >首页</a></li>
					<li><a href="javascript:location.reload();" >刷新</a></li>
				</ul>
		</footer>
	</body>

</html>
