/*重置*/
*{padding:0;margin:0}
a{color:#555;text-decoration:none;outline:none}
a:hover{color:#3fa9f5}
a{blr:expression(this.onFocus=this.blur())}
ul{list-style:none}
h4,h3,h2,h1{font-weight:normal}
img{border:none}
html, body{font:14px/24px "微软雅黑 Light", "微软雅黑",arial,sans-serif;color:#666;min-width:1000px;background:#f2f2f2}
/* 原子类 */
.l{float:left}
.r{float:right}
.g{width:1000px;margin:0 auto}
.green{color:#48b732}
.fs24{font-size:24px}
.hc{text-align:center}

/*结构类*/
/*头部*/
#header{height:100px;background:#fff;border-bottom:2px solid #eee}
	#header .g{height:100px}
	#logo a{display:block;height:100px;width:290px;background:url(../../images/green/logo.png) no-repeat}
	#area{width:110px;height:100px}
		#areaBtn{font-size:22px;color:#b3b3b3;padding-top:42px;display:block;width:110px;text-align:center;background:url(../../images/green/areaArrow.png) right 0 no-repeat;cursor:pointer}
		#areaBtn:hover{color:#3fa9f5;background-position:right -100px}
	#nav{height:40px;padding:40px 0 0 0;margin-left:10px}
		#nav li{height:40px;float:left;font-size:18px}
		#nav li a{padding:0 30px}
		#nav li a.on{color:#55d13f}
	#loginBox{height:36px;padding-top:35px;width:142px}
		#loginBox a{display:inline-block;height:36px;width:70px;float:left;margin-right:1px;text-indent:-9999px;background:url(../../images/green/loginBox_bg.png) no-repeat}
		#loginBox a.loginBtn:hover{background-position:0 -36px}
		#loginBox a.regBtn{background-position:right 0}
		#loginBox a.regBtn:hover{background-position:right -36px}
#crumbs{padding:3px 0;font-size:12px;width:990px}
#catfocus{display:none;position:relative;overflow:hidden;height:160px}
.catfocus{height:160px;width:2000em;position:absolute}
	.catfocus li{height:160px;width:1000px;float:left}
.filterBox{height:40px;background:url(../../images/green/filter_bg.png) no-repeat;position:relative;line-height:40px;padding:2px 0;margin-top:15px}
	.filterBox h1{position:absolute;left:15px;top:2px;font-size:17px;font-weight:normal;color:#bbb}
	.filterBtn{margin:0 auto;height:40px;width:280px}
		.filterBtn li{float:left;width:70px;text-align:center;cursor:pointer}
		.filterBtn li.active{background:url(../../images/green/filterBtn_bg.png) 0 0 no-repeat;color:#fff}
	.listType{position:absolute;right:15px;top:2px;width:80px;height:40px;text-align:right}
		.listType a{color:#3fa9f5}
#footer{background:#fff;color:#666;border-top:2px solid #eee;line-height:28px}
	#footer .g{overflow:auto}
	.fnavBox{padding-top:30px}
	.fnav .liblock{float:left;width:160px}
	.fnav .liblock4{width:180px}
	.fnav h3, .fnav h3 a{font-size:18px;line-height:32px;color:#333}
	.cpr{padding:10px 0 10px}
	.cpr a{margin-right:15px}
	.cooperative{height:60px;width:1000px;background:url(../../images/green/cooperative.png) no-repeat;margin:0 auto;margin-top:10px}

/*AJAX-功能展示*/
#overlay {background-image:url(../../images/green/transparent.png);height:536px;overflow:hidden;display:none;width:800px;padding:20px}
#vdoBox{display:none;height:360px;width:640px;background-image:url(../../images/green/vdobg.png)}
div.overlayTool{height:60px}
	.oImgBox{margin-right:10px;height:60px}
	.oImgBox img{height:60px;width:60px;border-radius:30px}
	.oTitle h3{font-size:26px;line-height:28px;padding:5px 0 0}
	.oTitle p{color:#aaa}
	.oLink{padding-right:35px}
	.oLink a{display:inline-block;float:left;margin-right:10px;line-height:30px;padding-left:30px;background:url(../../images/green/oLink.png) no-repeat;color:#c3c4c0}
	.oLink a:hover{color:#3fa9f5}
	.oLink a.allM:hover{background-position:0 -30px}
	.oLink a.newW{background-position:0 -60px}
	.oLink a.newW:hover{background-position:0 -90px}
div.contentWrap{height:460px;overflow-y:auto;width:800px;background:#f5f5f5;margin-top:15px;border-radius:5px;overflow:hidden}
#mdCnt{height:460px;overflow:hidden}
.close {background-image:url(../../images/green/close.png);position:absolute;right:10px;top:10px;cursor:pointer;height:50px;width:50px}
	.close:hover{background-position:0 -50px}
/*案例内容调用*/
#cnt{display:none;padding:30px 0 0 20px;overflow:auto}
	.imgBox{display:inline-block;float:left;margin-right:20px}
	.codeBox{padding:90px 0 0;width:190px;height:300px}
	.codebg{height:138px;padding:6px;background:url(../../images/green/codebg.png) no-repeat center;text-align:center}
	.codetext{text-align:center;font-size:16px;line-height:34px;padding-top:5px}
	.cname{font-weight:800;color:#000}

/*客服按钮*/
#service{margin-top:-120px;position:fixed; _position:absolute;right:0;top:50%;width:36px;height:280px;filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity: 0.9;opacity: 0.9;}
	#service a{display:block;width:36px;height:100px;text-indent:-9999px;background:url(../../images/green/service.png) no-repeat;cursor:pointer;margin-bottom:1px}
	#service a.mscBtn{height:38px;background:#fff url(../../images/green/musicBtn.gif) no-repeat}
	#service a.goTop{height:38px;width:36px;background-position:0 bottom}
		#service a.goTop:hover{background-position:-36px bottom}
	#service a.pause{background-position:0 bottom}
	#service .srvLog{}
	#service .srvLog:hover{background-position:-36px 0}
	#service .srvCns{background-position:0 -100px}
	#service .srvCns:hover{background-position:-36px -100px}

/*弹出登录框*/
#ologinBox{display:none;height:360px;width:410px;background-image:url(../../images/green/loginbg.png)}
	#ologinBox h3{font-size:30px;color:#7ac943;padding:25px 0 0 38px;line-height:36px;height:36px}
	#ologinBox ul{padding:15px 35px 0}
	#ologinBox li{height:48px;width:290px;padding-left:50px;background:url(../../images/green/iptbg.png) no-repeat;margin-bottom:10px}
	#ologinBox li.l2{background-position:0 -58px}
	#ologinBox li.l3{background:none;height:24px;text-align:right}
	#ologinBox li.l4{background:none;padding:0;height:50px}
	#ologinBox .ipt{height:28px;width:285px;padding:10px 5px 10px 0;border:none;outline:none;font:18px/28px "微软雅黑 Light", "微软雅黑",arial,sans-serif;background:none}
	#btn-login{height:50px;width:340px;border:none;outline:none;background:url(../../images/green/iptbg.png) no-repeat 0 -116px;cursor:pointer}
	#btn-login:hover{background-position:0 bottom}
	.loginLink{padding:32px 35px 0;line-height:24px;height:24px}
	.loginLink a.r{color:#7ac943}